

.logo p{
  font-family: var(--font-primary);
  color: var(--color-light-xl);
}




.hero,
footer {
  background:
    radial-gradient(
      circle at top left,
      #5b483a 0%,
      #262425 50%,
      #211f20 100%
    );
}

/*HERO*/

.hero-ctn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-subtitle{
  font-family: var(--font-primary);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.75px;
  color: var(--color-light-xl);

}

.nav-items{
  display: flex;
  gap: 35px;
  color: var(--color-dark-s);
}

/*NOT ONLY*/

.not-only{
  margin-top: 90px;
}

.str-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content{
  max-width: 460px ;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.content h2{
  max-width: 310px;
}

.content p{
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-dark-s);
}

.about-cont{
  display: flex;
  align-items: center;
}

.about-cnt{
  max-width: 430px;

  display: flex;
  flex-direction: column;
}

.content a, .pets__button{
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  align-self: flex-start;
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 22.1px */
  letter-spacing: 1.02px;
}

.pets-cnt{
  display: flex;
  flex-direction: column;

}

.pets-slider{
  display: flex;
}

.pets-slider__track{
  display: flex;
}

.pet-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-cnt{
  display: flex;
  flex-direction: column;
}

.pet-food{
  display: flex;
  flex-direction: column;
}

.help-list{
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}

/*DONATION*/

.donation-cnt{
  display: flex;
}

.credit-card{
  display: flex;
}

/*FOOTER*/

.ft-ctn{
  display: flex;
}